<div>
  <div class="container">
    <header class="page-header">
      <div class="title">
        <span class="title-span">Search News</span>
      </div>
      <div class="item-input-wrapper">
        <input type="search" placeholder="Search stories by title, url or author" autocapitalize="off" spellcheck="false"
          (keyup)='keyUp.next($event.target.value)' autocorrect="off" autofocus="" class="search-input">
      </div>
      <div class="results-time-wrapper">
        <span class="results-time">{{results}} results ({{timeInSeconds}}) seconds</span>
      </div>
    </header>

      
    <!-- (input)="onSearchChange($event.target.value)"  -->

    <!-- items being paged -->
    <div *ngIf="show; else elseBlock">
      <div class="rowItem" *ngFor="let item of pagedItems">
        <span class="story-title">{{item.title || item.story_title}}</span>
        <div class="flex-list">
          <ul>
            <li>
              {{item.points}} points(s)
            </li>
            |
            <li>
              {{item.author}}
            </li>
          |
            <li>
              {{item.num_comments}} comments
            </li>
            |
            <li>
              <a>{{item.url}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <ng-template #elseBlock>No Results Available.</ng-template>


    <div *ngIf="show" class="navigation-parent">

      <div >
        <a [ngClass]="{disabled:currentPage === 0}" (click)="getResult(currentPage - 1)">Previous</a>
      </div>
      <div>
        <span>Showing {{currentPage +1}} of {{totalPages}}</span>
      </div>
      <div>
        <a [ngClass]="{disabled:(currentPage+1 === totalPages)}" (click)="getResult(currentPage + 1)">Next</a>
      </div>

    </div>
  </div>
</div>